*

!*.asm
!*.inc
!Makefile

!comptime/
!comptime/containers/
!comptime/tests/
!comptime/examples/
!comptime/examples/**/
!comptime/examples/**/*.asm
!comptime/examples/**/*.inc

!arch/
!arch/x86/
!arch/x86/tests/
!arch/x86_64/

!format/
!format/elf/

!os/
!os/x86/
!os/x86_64/
!os/tests/
!lib64/
!lib64/tests/

!historical/

!.gitignore
